# Flutter/Dart
.dart_tool/
.packages
.pub-cache/
.pub/

# Build
build/
ios/Pods/
android/.gradle/
android/app/build/

# IDE
.idea/
.vscode/
*.iml

# Firebase / Secrets
android/app/google-services.json
ios/Runner/GoogleService-Info.plist

# Misc
*.log
*.lock
*.tmp
